## Задание 1.

Прочитать данные
`https://raw.githubusercontent.com/yakushinav/omo/main/data/movies.csv`

Имена столбцов
```
['color', 'director_name', 'num_critic_for_reviews', 'duration',
                'gross', 'movie_title', 'num_user_for_reviews', 'country',
                'cotent_rating', 'budget', 'title_year', 'imdb_score', 'genre']
```

In [2]:
import pandas as pd

In [3]:
csv_url="https://raw.githubusercontent.com/yakushinav/omo/main/data/movies.csv"
columns=['color', 'director_name', 'num_critic_for_reviews', 'duration',
                'gross', 'movie_title', 'num_user_for_reviews', 'country',
                'cotent_rating', 'budget', 'title_year', 'imdb_score', 'genre']
df=pd.read_csv(csv_url, sep="|", header=None, names=columns, na_values=['', ' ', '?', '-'], thousands=',')
print(df.head())
print(df.info())

   color      director_name  num_critic_for_reviews  duration        gross  \
0  Color      James Cameron                   723.0     178.0  760505847.0
1  Color     Gore Verbinski                   302.0     169.0  309404152.0
2  Color         Sam Mendes                   602.0     148.0  200074175.0
3  Color  Christopher Nolan                   813.0     164.0  448130642.0
4    NaN        Doug Walker                     NaN       NaN          NaN

                                         movie_title  num_user_for_reviews  \
0                                            Avatar                 3054.0
1          Pirates of the Caribbean: At World's End                 1238.0
2                                           Spectre                  994.0
3                             The Dark Knight Rises                 2701.0
4  Star Wars: Episode VII - The Force Awakens    ...                   NaN

  country cotent_rating       budget  title_year  imdb_score        genre
0     USA         PG-13  237000000.0      2009.0         7.9       Action
1     USA         PG-13  300000000.0      2007.0         7.1       Action
2      UK         PG-13  245000000.0      2015.0         6.8       Action
3     USA         PG-13  250000000.0      2012.0         8.5       Action
4     NaN           NaN          NaN         NaN         7.1  Documentary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   99 non-null     object
 1   director_name           100 non-null    object
 2   num_critic_for_reviews  99 non-null     float64
 3   duration                99 non-null     float64
 4   gross                   97 non-null     float64
 5   movie_title             100 non-null    object
 6   num_user_for_reviews    99 non-null     float64
 7   country                 99 non-null     object
 8   cotent_rating           98 non-null     object
 9   budget                  96 non-null     float64
 10  title_year              99 non-null     float64
 11  imdb_score              100 non-null    float64
 12  genre                   100 non-null    object
dtypes: float64(7), object(6)
memory usage: 10.3+ KB
None

  Как мы можем видеть, данные, содержащиеся в колонке "content_rating" остались в типе object, как и данные в колонке "title_year" представляют тип float64, которые уже не поддаются смене типа, поскольку для начала нужно избавить датасет от содержащихся в нем пустых строк.

## Задание 2

Прочитать данные `https://raw.githubusercontent.com/yakushinav/omo/main/data/playstore.xlsx`.

Для столбца `Last_Updated` установить формат `дата_и_время`.

In [10]:
xlsx_url="https://raw.githubusercontent.com/yakushinav/omo/main/data/playstore.xlsx"
df=pd.read_excel(xlsx_url)
df['Last_Updated'] = pd.to_datetime(df['Last_Updated'])
print(df.head())
print(df.info())

   Unnamed: 0                                                App  \
0           0     Photo Editor & Candy Camera & Grid & ScrapBook
1           1                                Coloring book moana
2           2  U Launcher Lite – FREE Live Cool Themes, Hide ...
3           3                              Sketch - Draw & Paint
4           4              Pixel Draw - Number Art Coloring Book

         Category  Rating     Installs  Type Price  Content_ID  \
0  ART_AND_DESIGN     4.1      10,000+  Free     0         101
1  ART_AND_DESIGN     3.9     500,000+  Free     0         101
2  ART_AND_DESIGN     4.7   5,000,000+  Free     0         101
3  ART_AND_DESIGN     4.5  50,000,000+  Free     0         102
4  ART_AND_DESIGN     4.3     100,000+  Free     0         101

                      Genres Last_Updated
0               Art & Design   2018-01-07
1  Art & Design;Pretend Play   2018-01-15
2               Art & Design   2018-08-01
3               Art & Design   2018-06-08
4    Art & Design;Creativity   2018-06-20
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    250 non-null    int64
 1   App           250 non-null    object
 2   Category      250 non-null    object
 3   Rating        239 non-null    float64
 4   Installs      250 non-null    object
 5   Type          250 non-null    object
 6   Price         250 non-null    object
 7   Content_ID    250 non-null    int64
 8   Genres        250 non-null    object
 9   Last_Updated  250 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 19.7+ KB
None

## Задание 3

Прочитать данные `https://raw.githubusercontent.com/yakushinav/omo/main/data/artists.json`.

Выполнить сохранение в формат CSV. Прочитать полученный файл. Сравнить с исходным.

In [14]:
json_url="https://raw.githubusercontent.com/yakushinav/omo/main/data/artists.json"
df_json=pd.read_json(json_url)
csv_file = "artists.csv"
df_json.to_csv(csv_file, index=False)
df_csv = pd.read_csv(csv_file)

# 4. Сравнение
if df_json.equals(df_csv):
    print("Данные идентичны.")
else:
    print("Обнаружены различия!")
    print("\nРазличия:")
    print(df_json.compare(df_csv))

Обнаружены различия!

Различия:
                                                 bio  \
                                                self
0  [{'full name': 'Amedeo Clemente Modigliani', '...
1  [{'full name': 'Wassily Wassilyevich Kandinsky...
2  [{'full name': 'Diego María de la Concepción J...
3  [{'full name': 'Oscar-Claude Monet', 'pronunci...
4  [{'full name': 'René François Ghislain Magritt...


                                               other
0  [{'full name': 'Amedeo Clemente Modigliani', '...
1  [{'full name': 'Wassily Wassilyevich Kandinsky...
2  [{'full name': 'Diego María de la Concepción J...
3  [{'full name': 'Oscar-Claude Monet', 'pronunci...
4  [{'full name': 'René François Ghislain Magritt...